@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/fonts/NotoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Recoleta';
    src: url(../fonts/fonts/Recoleta-SemiBold.ttf);
    font-weight: 600;
}