@import url(fonts.css);

*{margin: 0;padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: middle;}
input{border: none;outline: 0;}
textarea{resize: none;border: none; outline: none;}
button{border: none;outline: none;}
body{background: #fff; font-family: 'Noto Sans';font-weight: 400;}
.container{max-width: 1180px;width: 100%;margin: 0 auto;padding: 0 15px;}
:root{--cDarkGreen: #163A24; --cLightGreen: #198C36; --cWhite: #FBFAF7;}



/* =====header===== */

header{
    background: var(--cDarkGreen);
}

/* ===nav=== */

nav{
    padding: 20px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    align-items: center;

    padding: 0 10px 0 239px;
}

.navbar__menu a{
    color: var(--cWhite);

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.navbar__menu-link{
    display: flex;
    flex-direction: column;

    position: relative;

    margin: 0 6px;
    padding: 0 6px;
}

.navbar__menu-link::after{
    content: '';

    width: 0;
    height: 2px;

    background: transparent;

    position: absolute;
    bottom: 0;

    border-radius: 23px 23px 0 0;

    transition: .3s;

    margin: 0 -6px;

    transform: translateY(10px);
}

.navbar__menu-link:hover::after{
    background: #F7BC28;

    width: 100%;
}

.navbar__menu-btn{
    background: var(--cLightGreen);

    display: inline-block;

    border-radius: 160px;

    margin: 0 0 0 14px; 
    padding: 15px 25px 15px;
}


/* ===nav=== */

/* ===header__inner=== */

.header__inner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner-left-side h1{
    color: var(--cWhite);

    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    margin: 0 0 18px;
}

.header__inner-left-side p{
    color: var(--cWhite);

    font-size: 18px;
    line-height: 27px;
}

/* ===header__inner=== */

/* =====header===== */





/* =====main===== */

/* ===  === */

/* ===  === */

/* =====main===== *





/* =====footer===== */

/* =====footer===== */


